.container{
    font-family: sans-serif;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    border: 2px solid blue;
    text-align: center;
}

.text{
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 18px;
}
.aera{
    width: 100%;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 1px solid lightgrey;
    font-size: 18px;
}

.button{
    font-size: 18px;
    padding: 8px;
    margin: 10px;
    background-color: lightblue;
    border: none;
    border-radius: 5px;
    color: grey;
}

.button:hover{
    box-shadow: 2px 2px 8px lightskyblue;
}